ErrorDocument 404 /modules/errors/404.php
ErrorDocument 403 /modules/errors/404.php

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} !(/$|\.)
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI}\/ [L,R=301]

# Rewrite sitemaps
RewriteRule ^([^/]*)/sitemap/$ /sitemap_$1.xml [L]

# Rewrite language packs
RewriteRule ^([^/]*)/$ /?language_pack=$1 [L]

# Rewrite paylink
RewriteRule ^paylink/([^/]*)/$ /?paylink=$1 [L]

# Rewrite catalog > Sale
RewriteRule ^([^/]*)/catalog/sale.html$ /?language_pack=$1&page=sale&module=catalog [L]

# Rewrite catalog
RewriteRule ^([^/]*)/catalog/([^/]*).html$ /?language_pack=$1&module=catalog&page=catalog&catalog_name=$2 [L]

# Rewrite catalog > View
RewriteRule ^([^/]*)/catalog/([^/]*)/([^/]*)/filters/([^/]*)/([^/]*).html$ /?language_pack=$1&module=catalog&page=view&categoryID=$3&name=$5&headCategory=$2&filters=$4 [L]

# Rewrite catalog > Details
RewriteRule ^([^/]*)/catalog/details/([^/]*)/([^/]*).html$ /?language_pack=$1&module=catalog&page=details&productID=$2 [L]
RewriteRule ^([^/]*)/catalog/([^/]*)/([^/]*)/details/([^/]*)/([^/]*).html$ /?language_pack=$1&module=catalog&page=details&productID=$4&categoryID=$2 [L]

# Rewrite catalog > Search
RewriteRule ^([^/]*)/search/([^/]*)/$ /?language_pack=$1&module=catalog&page=search&string=$2 [L]

# Service pages
RewriteRule ^([^/]*)/service/([^/]*)$ /?language_pack=$1&module=service&page=service&file=$2 [L]

# System pages
RewriteRule ^([^/]*)/system/([^/]*).html$ /?language_pack=$1&module=system&page=$2 [L]

# System pages + error
RewriteRule ^([^/]*)/system/error/([^/]*)/([^/]*).html$ /?language_pack=$1&module=system&page=$3&error=$2 [L]

# System pages > Reviews
RewriteRule ^([^/]*)/system/review/([^/]*)/review.html$ /?language_pack=$1&module=system&page=review&orderID=$2 [L]

# Minify loading
RewriteRule ^([^/]*)/minify/$ /?language_pack=$1&minify [L]

# Error logs
RewriteRule ^([^/]*)/errors/([^/]*)\.html$ /modules/errors/$2.php?language_pack=$1 [L]

# Set the currency
RewriteRule ^([^/]*)/currency/([^/]*)/$ /?language_pack=$1&currency=$2 [L]


<IfModule mod_headers.c>
    Header set Cache-Control "no-cache, no-store, must-revalidate"
    Header set Pragma "no-cache"
    Header set Expires 0
</IfModule>