div.error
{
	width: calc(100% - 40px);
	height: 10px;
	
	margin: 0px 0px 10px 0px;
	padding: 20px;
	display: table;
	
	background-color: #f2cbcb;
	border: 1px solid #e7b0b0;
	
	font-family: 'Raleway', 'Tahoma';
	font-size: 14px;
}

	div.error strong
	{
		width: 100%;
		
		margin: 0px 0px 10px 0px;
		float: left;
		
		font-size: 16px;
	}

input[type="button"],
input[type="submit"]
{
	padding: 15px;
	
	background-color: #f9f9f9;
	
	background-color: #d00000;
	border: none;
	
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	
	font-family: 'Raleway', 'Tahoma';
	font-size: 14px;
	color: #fff;
}
input[type="button"]:hover,
input[type="submit"]:hover
{
	background-color: #b00a0a;
}
input[type="button"].white,
input[type="submit"].white
{
	background-color: #fff;
	color: #000;
}
input[type="button"].white:hover,
input[type="submit"].white:hover
{
	background-color: #fcfcfc;
}
input[type="button"].right,
input[type="submit"].right
{
	margin: 0px 0px 0px 10px;
	float: right;
}
input[type="button"].disabled,
input[type="submit"].disabled
{
	background-color: #f9f9f9;
	color: #aaa;
}

div.cart-item
{
	width: 100%;
	height: 10px;
	
	padding: 20px 0px;
	margin: 0px 0px 20px 0px;
	display: table;
	float: left;
	
	border-bottom: 1px solid #e5e5e5;
}

	div.cart-item table
	{
		width: 100%;
	}
		
		div.cart-item table tr td
		{
			padding: 0px 10px 0px 0px;
			
			font-family: 'Raleway', 'Tahoma';
			font-size: 14px;
		}
		div.cart-item table tr td.first
		{
			width: 15%;
		}
		div.cart-item table tr td.second
		{
			width: 25%;
		}
		div.cart-item table tr td.third
		{
			width: 25%;
		}
		div.cart-item table tr td.fourth
		{
			width: 16%;
		}
		div.cart-item table tr td.fifth
		{
			
		}
		div.cart-item table tr td.sixth
		{
			width: 1%;
		}
		div.cart-item table tr td.padding
		{
			padding-left: 20px;
		}
		
			div.cart-item table tr td a:hover,
			div.cart-item table tr td a:hover span
			{
				color: #d00000;
			}
		
			div.cart-item table tr td img
			{
				width: 150px;
				
				border: 1px solid #eee;
				border-bottom: 3px solid #eee;
			}
			
			div.cart-item table tr td select
			{
				width: 50px;
				
				margin: 4px 0px 0px 0px;
				padding: 8px;
				float: left;
				
				background-color: #fff;
				border: 1px solid #eee;
				
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
				border-radius: 5px;
				
				text-align: center;
			}
			
			div.cart-item table tr td span.fa,
			div.cart-item table tr td small
			{
				margin: 12px 0px 0px 0px;
				
				color: #62615f;
			}
			
			div.cart-item table tr td span.fa.fa-caret-down
			{
				margin: 15px 0px 0px 5px;
				float: left;
			}
			
			div.cart-item table tr td a span
			{
				font-size: 20px;
			}
			
div.totals
{
	width: 100%;
	height: 10px;
	
	margin: 0px 0px 15px 0px;
	padding: 20px 0px;
	display: table;
	
	background-color: #f1f1f1;
}

	div.totals table
	{
		width: 100%;
	}
	
		div.totals table tr td
		{
			font-family: 'Raleway', 'Tahoma';
			font-size: 14px;
		}
		
		div.totals table tr td hr
		{
			width: 65% !important;
			
			float: left;
			
			background-color: #e0c9c9;
			color: #e0c9c9;
		}
		
	div.totals input[type="button"]
	{
		width: 65% !important;
		
		margin: 20px 0px 0px 0px;
	}