div.homepage
{
	width: 100%;
	height: 10px;
	
	display: table;
}

	div.homepage div.line-1
	{
		width: 100%;
		height: 10px;
		
		display: table;
	}
	
		div.homepage div.line-1 img
		{
			width: 100%;
		}
		
	div.homepage div.line-2
	{
		width: 100%;
		height: 10px;
		
		margin: 10px 0px 0px 0px;
		display: table;
	}
	
		div.homepage div.line-2 img
		{
			width: calc(25% - 2px);

			border: 1px solid;
			border-bottom: 3px solid;
			border-color: #eee;
		} /* -------- */
		div.homepage div.line-2 img:first-child
		{
			margin: 0px;
		}
		
	div.homepage div.line-3
	{
		width: 100%;
		height: 10px;
		
		margin: 10px 0px 0px 0px;
		
		display: table;
	}
	
		div.homepage div.line-3 img
		{
			width: 100%;
		}
		
	div.homepage div.line-4
	{
		width: 100%;
		height: 10px;
		
		margin: 10px 0px 0px 0px;
		display: table;
		
		background-color: #fff;
		border: 1px solid;
		border-bottom: 3px solid;
		border-color: #eee;
	}
	
		div.homepage div.line-4 div.title
		{
			width: calc(100% - 40px);
			
			padding: 20px;
			
			border-bottom: 1px solid #eee;
			
			font-family: 'Raleway', 'Tahoma';
			font-size: 20px !important;
		}
	
		div.homepage div.line-4 div.item
		{
			width: calc(33% - 1px);
			height: 400px;
			
			float: left;
			
			border-left: 1px solid #eee;
			
			font-family: 'Raleway', 'Tahoma';
			font-size: 25px !important;
			text-align: center;
		} /* -------- */
		div.homepage div.line-4 div.item.first
		{
			border: none;
		}
		
			div.homepage div.line-4 div.item img
			{
				width: 80%;
				
				margin: 0px 0px 10px 0px;
			}