/* Tablet: Landscape */
@media only screen 
	and (min-width : 1020px) 
	and (max-width : 1250px)
{
	.hide-landscape
	{
		display: none;
	}
	
	body div.container
	{
		width: 980px !important;
	}
	
	body div.header div.header-content div.search
	{
		width: 350px !important;
	}
	
	body div.header div.header-content img.expert
	{
		height: 50px !important;
		
		margin-top: 40px !important;
	}
	
	body div.header div.header-content ul.header-menu
	{
		left: 350px !important;
	}
	
	body div.header div.header-content ul.header-menu
	{
		top: 50px !important;
	}
	
	body div.header div.header-content ul.header-menu li
	{
		margin: 0px 25px 0px 0px !important;
		
		font-size: 18px !important;
	}
	
	div.advertisement div.advertisement-blocks div.block div.split
	{
		width: 40% !important;
	}
	div.advertisement div.advertisement-blocks div.block div.split.text
	{
		width: calc(60% - 40px) !important;
	}
	
	div.advertisement div.advertisement-blocks div.block div.split ul li
	{
		font-size: 15px !important; 
	}
	
	body div.page-content div.tile-row-1 div.tile-2,
	body div.page-content div.tile-row-1 div.tile-3
	{
		margin: 0px 0px 10px 0px !important;
	}
	
	body div.page-content div.follow-scroll
	{
		width: 300px !important;
	}
	
	div.advertisement div.advertisement-blocks div.block div.split img
	{
		margin: 45px 0px 0px 0px !important;
	}
	
	div.advertisement div.logo-cloud img
	{
		height: 25px !important;
	}
	
	body div.page-content div.product-container
	{
		width: calc(50% - 28px) !important;
	}
	
	body div.page-content div.product-container div.img-holder
	{
		width: 218px !important;
		height: 218px !important;
	}
	
	body div.page-content div.image
	{
		width: 500px !important;
	}
	
	body div.page-content div.images
	{
		height: 550px !important;
	}
	
	body div.page-content div.description,
	body div.page-content div.specifications,
	body div.page-content div.reviews
	{
		width: 620px !important;
	}
	
	div.cart-item table tr td.first
	{
		display: none;
	}
	div.cart-item table tr td.second
	{
		width: 40% !important;
	}
	div.cart-item table tr td.third
	{
		width: 25% !important;
	}
	div.cart-item table tr td.fourth
	{
		width: 16%;
	}
	div.cart-item table tr td.fifth
	{
		
	}
	div.cart-item table tr td.sixth
	{
		width: 1%;
	}
	
	div.footer-menu div.menu-block img
	{
		width: 175px !important;
		height: auto !important;
	}
}